
@{
    ViewBag.Title = "EnviarCorreo";
}

<h2>Enviar Correo con MVC</h2> @*<form method="post" enctype="multipart/form-data"></form>*@
@using (Html.BeginForm("EnviarCorreo", "Controllers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>Para:</label>
        <input type="email"name="para" />
    </div>
    <div>
        <label>Asunto:</label>
        <input type="text" name="asunto" />
    </div>
    <div>
            <label>
                Mensaje:
            </label>
        <textarea name="mensaje" placeholder="Escriba aqui"></textarea>
    </div>
    <div>
        <label>Seleccione un archivo:</label>
        <input type="file" name="fichero" size="25" />
    </div>
    <div>
        <button type="submit">Enviar Email</button>
    </div>
 

<h3 style="color:blueviolet">@ViewBag.Mensaje</h3>
<h3 style="color:orangered">@ViewBag.Error</h3>
}

@*<img src="@Url.Content('ruta')" />  Me trae imagenes de una ruta determinada... *@


